<?xml version="1.0"?>
<!--
/**
 * @author Pavel Usachev <webcodekeeper@hotmail.com>
 * @copyright Copyright (c) 2017, Pavel Usachev
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Alevel_Orders::alevel_orders"
            title="Alevel Order"
            translate="title"
            module="Alevel_Orders"
            sortOrder="20"
            parent="Magento_Catalog::inventory"
            action="orders/users"
            resource="Alevel_Orders::users_list_access"
        />
    </menu>
</config>
